/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$primary: #6c63ff

@import 'bulma/bulma'
@import 'bulma-checkradio/dist/css/bulma-checkradio'
@import 'bulma-ribbon/dist/css/bulma-ribbon'
@import 'bulma-switch/dist/css/bulma-switch'

@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,600,700)
@charset "UTF-8"

body
  font-family: "Nunito", sans-serif
  min-height: 100vh

.container
  max-width: 1170px

.narrow
  max-width: 900px

h1.title
  font-family: 'PT Sans', sans-serif
  font-size: 3rem
  font-weight: 700

h2.subtitle
  font-size: 1.5rem
  font-weight: 700

.box-title
  // @extend .has-background-light
  margin: -$box-padding
  padding: $box-padding
  margin-bottom: $box-padding
  border-bottom: solid 1px rgba(10, 10, 10, 0.1)

  h2.subtitle
    margin-bottom: 0

.navbar
  background-color: transparent

.navbar-item, .navbar-link
  font-family: 'PT Sans', sans-serif
  font-size: 1.25rem
  line-height: 1.5rem
  font-weight: 700
  padding: 1rem 0.75rem

.field_with_errors input.input
  @extend .is-danger

#error_explanation
  @extend .notification
  @extend .is-danger

  ul
    margin: 1rem
    padding: 1rem
    list-style: disc

    li
      padding: 0 1rem

.field_with_errors
  display: inline

.hidden
  display: none !important

.notification.is-notice
  @extend .notification.is-success

.price-up
  @extend .has-text-success

.price-down
  @extend .has-text-danger
